.container {
    width: 1500px;
    margin:auto;
}
  
#graphic {
    padding-top: auto 0;
}

#sections {
    position: relative;
    display: inline-block;
    width: 250px;
    top: 60px;
    z-index: 90;
    padding-bottom: 200px;
    margin-right: 20px;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 200;
    z-index: 1;
    margin-left: 0;
    left: 40%;
    width: 1200px;
    height: 600px;
}

#replay-button-container {
  width: 100px;
  height:30px;
}

#vis-controller {
  display: flex;
  position: fixed;
  top: 100px;
  z-index: 1;
  margin-left: 0;
  left: 40%;
  width: 900px;
  height: 120px;
}

.replay-button-container {
  flex: 0 0 100px;
}

.dynamic-bar-slider {
  display: inline-block;
}

.replay-button-container button{
  margin: 25px auto;
}

.airline-buttons-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.percent-top-5 {
  margin-top: 10px;
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-weight:bold;
  background-color:white;
  border-radius: 5px;
  cursor: pointer;
}

.percent-top-5:hover {
  background-color: grey; /* Green */
  color: white;
}

.percent-carrier {
  height: 40px;
  font-size: 16px;
}

.replay-button {
  text-align: center;
  height: 35;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 20px;
}
  
.step {
    margin-bottom: 200px;
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size: 16px;
    line-height: 23px;
    color: #767678;
    height: 500px;
    width: 400px;

}

div.tooltip {	
    position: absolute;			
    text-align: center;								
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.circle:hover{
    stroke: #b8b8b8;
}

.button {
    background-color: #ebc334; /* Green */
    border: none;
    color: white;
    transition-duration: 0.4s;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    border: 2px solid #ebc334;
    margin-bottom:5px;
  }

.button:hover {
    background-color: white;
    color: #ebc334;
    border: 2px solid #ebc334;
  }


.button1 {
    background-color: #66c2a5; /* Green */
    border: none;
    color: white;
    transition-duration: 0.4s;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    border: 2px solid #66c2a5;
    margin-bottom:5px;
  }

.button1:hover {
    background-color: white;
    color: #66c2a5;
    border: 2px solid #66c2a5;
  }

.button2 {
    background-color: #fc8d62; /* Green */
    border: none;
    color: white;
    transition-duration: 0.4s;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    border: 2px solid #fc8d62;
    margin-bottom:5px;
  }

.button2:hover {
    background-color: white;
    color: #fc8d62;
    border: 2px solid #fc8d62;
  }

.button3 {
    background-color: #8da0cb; /* Green */
    border: none;
    color: white;
    transition-duration: 0.4s;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    border: 2px solid #8da0cb;
    margin-bottom:5px;
  }

.button3:hover {
    background-color: white;
    color: #8da0cb;
    border: 2px solid #8da0cb;
  }

.button4 {
    background-color: #e78ac3; /* Green */
    border: none;
    color: white;
    transition-duration: 0.4s;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    border: 2px solid #e78ac3;
    margin-bottom:5px;
  }

.button4:hover {
    background-color: white;
    color: #e78ac3;
    border: 2px solid #e78ac3;
  }

.button5 {
    background-color: #a6d854; /* Green */
    border: none;
    color: white;
    transition-duration: 0.4s;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    border: 2px solid #a6d854;
    margin-bottom:5px;
  }

.button5:hover {
    background-color: white;
    color: #a6d854;
    border: 2px solid #a6d854;
  }
